@import url("color.css");

/* .highlight_color { color: rgba(216, 182, 13, 1); }
.low_highlight_color { color: rgba(165, 147, 54, 1); }
.low_default_color { color: rgba(63, 59, 52, 1); }
.char_color { color: rgba(216, 216, 216, 1); }
.default_color { color: rgba(12, 12, 12, 1); } */

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--default_color);
    margin: 0;
    padding: 0;
}
header{
    height: 15vh;
    border-bottom: 2px solid var(--low_default_color);
}
.default_word{
    color: var(--highlight_color);
}
div#main{
    box-sizing: border-box;
    padding-top: 7vh;
}

div{
    display: block;
}

.pull-right{
    float: right!important
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

a{
    color: var(--highlight_color);
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}